<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
	<title>Shamba Digi | Login</title>
	<link href="/css/app.css" rel="stylesheet">
	<style>
	

	</style>

</head>
<!-- <body style="background-color: #9bde9b; background-image: radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0,transparent 59%),radial-gradient(at 82% 65%, hsl(139.09, 67%, 28.000000000000004%) 0, transparent 55%);"> -->
<body style="background-image: url(../images/kenyanfarmer.jpeg); background-size: cover; background-repeat: no-repeat;">
	<h1><a href="index.html" style="text-decoration: none; color: rgb(255, 255, 255); font-size: 40px; margin: 30px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></h1>
	<center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<main class="content">
				<div class="container-fluid p-0">
					<!-- <h1 class="h1 mb-3 w3">Welcome back to Shamba Digi</h1> -->
					<div class="row">
						<div class="col-12 col-xl-3"></div>
						<div class="col-12 col-xl-6">
							<div class="card" style="backdrop-filter: blur(7px) saturate(164%);-webkit-backdrop-filter: blur(7px) saturate(164%); height:60vh;background-color: rgba(244, 245, 248, 0.46);border-radius: 12px;border: 1px solid rgba(255, 255, 255, 0.125);">
								<h1 style="margin-top: 20px;color: white;">Log In to your account</h1>
								<!-- <div class="card-header">
									<h5 class="card-title">Log In to your account</h5>
								</div> -->
								<div class="card-body">
									<form id="form" method="post" class="login-box">
										<div class="login__user-box form-group" style="margin-bottom: 20px;">
											<input type="email" name="" required="" class="form-control" name="email" >
											<label class="form-label">Email address</label>
										  </div>
										<!-- <div class="form-group login__user-box" >
										</div> -->
										<div class="login__user-box form-group">
											<input type="password" name="" required="" class="form-control" name="password" >
											<label class="form-label">Password</label>
										  </div>
										<!-- <div class="form-group login__user-box" style="width: 100%; margin-top: 50px; display: flex;  align-items: center; justify-content: space-evenly;">
											<label class="form-label">Password</label>
											<input type="password" class="form-control" name="password" placeholder="Password" style="width: 51%;border-radius: 50px;background: #fff;box-shadow: 0px 8px 15px #adadad;">
										</div> -->
									
										<button type="submit" class="btn btn-primary" style="border-radius: 50px; border: none;background: rgb(125, 247, 77); box-shadow: 0px 8px 15px #adadad;transition: all 0.3s ease 0s;">	<a href="#">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											Submit
										  </a></button>
										<br>
										<br>

										<p>Don't have an account?  <a href="register.html">Sign Up</a> and get started</p>
									</form>
								</div>
							</div>
							<% if (locals.error) {%>
								<p><%= error %></p>
								<% } %>
							<!-- <br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br> -->
						</div>
						<div class="col-12 col-xl-3"></div>
					</div>
				</div>
			</main>

			<!-- <footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="/" class="text-muted"><strong>Shamba Digi</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer> -->
		</div>
	</div>
	<script src="js/app.js"></script>
</body>
</html>



	