<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
	<title>Shamba Digi | Login</title>
	<link href="/css/app.css" rel="stylesheet">
	<style>
		html {
  height: 100%;
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .login__user-box {
  position: relative;
}

.login-box .login__user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .login__user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .login__user-box input:focus ~ label,
.login-box .login__user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

	</style>

</head>
<!-- <body style="background-color: #9bde9b; background-image: radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0,transparent 59%),radial-gradient(at 82% 65%, hsl(139.09, 67%, 28.000000000000004%) 0, transparent 55%);"> -->
<body style="background-image: url(../images/kenyanfarmer.jpeg); background-size: cover; background-repeat: no-repeat;">
	<h1><a href="index.html" style="text-decoration: none; color: rgb(255, 255, 255); font-size: 40px; margin: 30px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></h1>
	<center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<main class="content">
				<div class="container-fluid p-0">
					<!-- <h1 class="h1 mb-3 w3">Welcome back to Shamba Digi</h1> -->
					<div class="row">
						<div class="col-12 col-xl-3"></div>
						<div class="col-12 col-xl-6">
							<div class="card" style="backdrop-filter: blur(7px) saturate(164%);-webkit-backdrop-filter: blur(7px) saturate(164%); height:60vh;background-color: rgba(244, 245, 248, 0.46);border-radius: 12px;border: 1px solid rgba(255, 255, 255, 0.125);">
								<h1 style="margin-top: 20px;color: white;">Log In to your account</h1>
								<!-- <div class="card-header">
									<h5 class="card-title">Log In to your account</h5>
								</div> -->
								<div class="card-body">
									<form id="form" method="post" class="login-box">
										<div class="login__user-box form-group" style="margin-bottom: 20px;">
											<input type="email" name="" required="" class="form-control" name="email" >
											<label class="form-label">Email address</label>
										  </div>
										<!-- <div class="form-group login__user-box" >
										</div> -->
										<div class="login__user-box form-group">
											<input type="password" name="" required="" class="form-control" name="password" >
											<label class="form-label">Password</label>
										  </div>
										<!-- <div class="form-group login__user-box" style="width: 100%; margin-top: 50px; display: flex;  align-items: center; justify-content: space-evenly;">
											<label class="form-label">Password</label>
											<input type="password" class="form-control" name="password" placeholder="Password" style="width: 51%;border-radius: 50px;background: #fff;box-shadow: 0px 8px 15px #adadad;">
										</div> -->
									
										<button type="submit" class="btn btn-primary" style="border-radius: 50px; border: none;background: rgb(125, 247, 77); box-shadow: 0px 8px 15px #adadad;transition: all 0.3s ease 0s;">	<a href="#">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											Submit
										  </a></button>
										<br>
										<br>

										<p>Don't have an account?  <a href="register.html">Sign Up</a> and get started</p>
									</form>
								</div>
							</div>
							<% if (locals.error) {%>
								<p><%= error %></p>
								<% } %>
							<!-- <br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br> -->
						</div>
						<div class="col-12 col-xl-3"></div>
					</div>
				</div>
			</main>

			<!-- <footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="/" class="text-muted"><strong>Shamba Digi</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer> -->
		</div>
	</div>
	<script src="js/app.js"></script>
</body>
</html>



	